fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pydantic-settings
python-multipart
email-validator
pgvector
pypdf
python-docx
python-pptx
cryptography
PyJWT
requests
redis
sse-starlette
httpx
